<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head")%>
    <!-- <%- include("./partials/script") %>   -->
    <script>
        console.log("Hello world")
    </script>
</head>
<body>
    <h1>BUDGTR - Index</h1>
    <h4>Balance:
        <% let agg = 0%>
        <% for (item of budget) { %>
            <% agg += item.amount %>  
        <% } %>
        <%= agg %>  
    </h4>
    <table>
        <tr>
            <th>DATE</th>
            <th>NAME</th>
            <th>FROM</th>
            <th>AMOUNT</th>
            <th>TAGS</th>
        </tr>
        <% for (let i = 0; i < budget.length; i++) { %>
        <tr>
            <td><%= budget[i].date %></td>
            <td><a href="/budgets/<%= i %> "><%= budget[i].name %> </a></td>
            <td><%= budget[i].from %> </td>
            <td><%= budget[i].amount %> </td>
            <td><%= budget[i].tags %> </td> 
        </tr>
    <% } %> 
    </table>
    <form action="/budgets/new">
        <input type="submit" value="NEW BUDGET ITEM">
    </form>
</body>
</html>