<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head")%> 
</head>
<body>
    <div id="container">
        <h1><%= budgetItem.name %> </h1>
        <form action="/budgets">
            <input type="submit" value="BACK">
        </form>
        <h4>DATE</h4>
            <p><%= budgetItem.date %> </p>
        <h4>NAME</h4>
            <p><%= budgetItem.name %> </p>
        <h4>FROM</h4>
            <p><%= budgetItem.from %> </p>
        <h4>AMOUNT</h4>
            <p><%= budgetItem.amount %> </p>
        <h4>TAGS</h4>
            <p><%= budgetItem.tags %> </p>
    </div>
</body>
</html>